/* global rules */

* {
    text-decoration: none;
    padding: 0;
    list-style: none;
    margin: 0;
    text-transform: capitalize;
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1.8rem;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins' , sans-serif;
    background-color:  hsl(0, 0%, 86%);
  }
  @media (max-width: 1200px) {
    html {
      font-size: 60%;
    }
  }
  
  @media (max-width: 991px) {
    html {
      font-size: 58%;
    }
  }
  
  @media (max-width: 767px) {
    html {
      font-size: 55%;
    }
  }
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
  }
  
  /* end globle rules */
  

  .card{
    max-width: 40rem;
    padding: 3rem;
    border: none;
    border-radius: .9rem;
    border-bottom-right-radius: 8rem;
    position: relative;
    background-color: #fff;
  }

.card form .btn{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-top: 2rem;
}
@media(max-width:600px){
  .card form .btn{
  justify-content: center;
align-items: center;
  }
}
  .card form {

    margin-bottom: 3rem;
  }

  .card form > div{
  margin: .5rem;
  }
  
.card form div label{
  font-size: 1.4rem;
}
.card form .input{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-right: 8rem;
}
.card form input{
  display: block;
  width: 8rem;
  padding: 1.2rem;
  margin: .5rem 0;
  border-radius: .5rem;
  border: .1rem solid #a59f9f;
  font-weight: bold;
}
.card form  input:focus{
outline: none;  
}
.card form .submit{
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
  border: none;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  z-index: 3;
}
.card form .btn::before{
  position: absolute;
  content: '';
  width: 100%;
  height: .1rem;
  left: 0;
  top: 50%;
  right: 0;
  background-color: #999;
  
}
.card form .submit img{
width: 3rem;
height: 3rem;
}
.card form .submit:hover{
  background-color: black;
}
 .card .results div {
  font-size: 7rem;
 }

 .card .results span{
 color:  hsl(259, 100%, 65%);
 }